{% extends '@EkynaAdmin/base.html.twig' %}

{% block body %}
{% apply spaceless %}
    {%- include '@EkynaAdmin/Layout/navbar.html.twig' -%}

    <div id="sidebar-nav">
        {{ knp_menu_render('ekyna_admin.side', {
            'template': '@EkynaAdmin/Layout/sidemenu.html.twig',
            'currentClass': 'active',
            'ancestorClass': 'active'
        }) }}
    </div>

    <div class="content">
        {{ knp_menu_render('ekyna_admin.breadcrumb', {
            'template': '@EkynaAdmin/Layout/breadcrumb.html.twig'
        }) }}
        <div id="pad-wrapper">
            {% block flashes %}{% include '@EkynaCore/Ui/flashes.html.twig' %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>
{% endapply %}
{% endblock body %}
