<form class="input-group">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Filters <span class="caret"></span></button>
        <ul class="dropdown-menu">
            {% for id, label in resources -%}
            <li>
                <label>
                    <input type="checkbox" name="search[resources][]" value="{{ id }}"{% if id in data.resources %} checked="checked"{% endif %}>
                    {{ label[0]|trans({}, label[1]) -}}
                </label>
            </li>
            {%- endfor %}
        </ul>
    </div>
    <input class="form-control" type="text" id="search_expression" name="search[expression]" value="{{ data.expression }}" autocomplete="off">
    <label class="input-group-addon" for="search_expression"><i class="fa fa-search"></i></label>
</form>
<div class="list-group"></div>
