<form class="input-group">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Filters <span class="caret"></span></button>
        <ul class="dropdown-menu">
            {% for resource in resources -%}
            <li>
                <label>
                    <input type="checkbox" name="search[resources][]" value="{{ resource }}"{% if resource in data.resources %} checked="checked"{% endif %}>
                    {{ (resource ~ '.label.plural')|trans -}}
                </label>
            </li>
            {%- endfor %}
        </ul>
    </div>
    <input class="form-control" type="text" name="search[expression]" value="{{ data.expression }}" autocomplete="off">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
</form>
<div class="list-group"></div>
