#admin-helper {
    position: absolute;
    top: 150px;
    right: 10px;
    min-width: 160px;
    padding:10px;
    box-shadow: 0 2px 4px #ddd;
}

/* -------------------------------- RESPONSIVE -------------------------------- */

@media (min-width: @screen-md) {
    #admin-helper {
        display: block;
    }
}