{% extends 'EkynaAdminBundle::base.xml.twig' %}

{% block response %}
{# TODO CDATA title #}
<title>{{ (resource_id ~ '.header.new')|trans|raw }}</title>
<form><![CDATA[
{{ form_start(form) }}
    {% include form_template %}
    {{ ui_form_footer(form) }}
{{ form_end(form) }}
]]></form>
{% endblock response %}
